---
import BaseHead from '../components/BaseHead.astro';
---

<html lang="en">
  <head>
    <BaseHead
      title="Blog - Arief Daffa"
      description="Articles by Arief Daffa."
      pathname="/blog/"
    />
    <meta http-equiv="refresh" content="0; url=/blog/" />
  </head>
  <body>
    <p><a href="/blog/">Continue to blog</a></p>
  </body>
</html>
