---
import BaseHead from '../components/BaseHead.astro';
---

<html lang="en">
  <head>
    <BaseHead
      title="Projects - Arief Daffa"
      description="Portfolio projects by Arief Daffa."
      pathname="/projects/"
    />
    <meta http-equiv="refresh" content="0; url=/projects/" />
  </head>
  <body>
    <p><a href="/projects/">Continue to projects</a></p>
  </body>
</html>
