---
interface Props {
  items: string[];
}

const { items } = Astro.props;
const loopedItems = [...items, ...items];
---

<div class="marquee" aria-hidden="true">
  <div class="marquee-track">
    {loopedItems.map((item) => <span>{item}</span>)}
  </div>
</div>
